<div class="container col-6">
  <h1 id=new-dream-title> Edit your Dream </h1>
  <div id=new-dream-form>
    <%= simple_form_for [ @dream ] do |f| %>
      <%= f.input :name, disabled: true %>
      <%= f.input :description %>
      <%= f.input :duration, disabled: true %>
      <%= f.input :price, disabled: true %>
      <%= f.input :photo, as: :file %>
  </div>
      <%= f.submit "Sleep Well", class: "book-button" %>
    <% end %>
</div>
