 <div class="search-bar">
  <%= form_tag dreams_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Search for a dream"
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
<%# TODO do we want buttons for categories which affect the page - need new category column? %>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <% @dreams.order('random()').each do |dream| %>
        <div class="card">
          <p>
            <%= dream.name %>
          </p>
          <%= cl_image_tag dream.photo.key, height: 400, width: 534, crop: :fill %>
          <p>
            <%= dream.description %>
          </p>
          <p>
          £<%= dream.price %>
          </p>
          <p>
            <%= dream.duration %> hours
          </p>
          <%= link_to 'View Details', dream_path(dream) %>
        </div>
      <% end %>
    </div>
  </div>
</div>
