  <div class="search-form-control form-group">
    <%= form_tag dreams_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control string required",
        placeholder: "Search for a dream"
      %>
      <%= button_tag(type: 'submit', class: "btn btn-flat") do
        "<i class='fas fa-search'></i>".html_safe
      end %>
    <% end %>
  </div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <% @dreams.order('random()').each do |dream| %>
        <div class="card">
          <p>
            <%= dream.name %>
          </p>
          <%= cl_image_tag dream.photo.key, height: 400, width: 534, crop: :fill %>
          <p>
            <%= dream.description %>
          </p>
          <p>
          <%= number_to_currency(dream.price, unit: '£') %>
          </p>
          <p>
            <%= dream.duration %> hours
          </p>
          <%= link_to 'View Details', dream_path(dream) %>
        </div>
      <% end %>
    </div>
  </div>
</div>
