<% img_no = 0 %>
<% @dreams.each do |dream| %>
<a
  href="<%= dream_path(dream) %>"
  class="my-bookings-div-link"
  style="color: black"
>
  <div class="card my-bookings-card my-3">
    <div class="row no-gutters">
      <div class="col-sm-3">
        <%= cl_image_tag dream.photo.key, class: 'card-img' %>
      </div>
      <div class="col-sm-7">
        <div class="card-body">
          <h3 class="card-title"><%= dream.name %></h3>
          <p class="card-text">
                <%= dream.description %>
              </p>
        </div>
      </div>
      <div class="col-sm-2 card-svg p-3"><%= image_tag "#{img_no % 6}.svg", class: 'card-img undraw' %></div>
    </div>
  </div>
</a>
<% img_no += 1 %>
<% end %>
