 <div class="banner">
  <div class="header">
    <h1>Dream-BnB</h1>
    <h2>Where your dreams come true</h2>
  </div>

  <div class="home-searchbar">
    <%= form_tag dreams_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Search for a dream"
      %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>


<div>
  <h2>Popular dreams</h2>
  <% @top_dreams.each do |dream| %>
    <div class="card">
      <p>
        <%= dream.name %>
      </p>
      <img src="https://picsum.photos/400/300" alt="">
      <p>
        <%= dream.description %>
      </p>
      <p>
        £<%= dream.price %>
      </p>
      <p>
        <%= dream.duration %> hours
      </p>
      <%= link_to 'View Details', dream_path(dream) %>
    </div>
  <% end %>
</div>
