<div>
  <div class="header">
    <h2>Where your dreams come true</h2>
  </div>

  <div class="home-searchbar">
    <%= form_tag dreams_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control rounded",
        placeholder: "Find a dream"
      %>
      <div class="text-center"><%= submit_tag "Search", class: "btn btn-primary search-button" %></div>
    <% end %>
  </div>
</div>


<div class="container">
<h2 class="text-center">Most popular dreams</h2>
  <div class="row justify-content-center">
    <% @dreams.each do |dream| %>
        <div class="col-lg-6 mb-5">
          <div class="hover hover-3 text-white rounded"><%= cl_image_tag dream.photo.key, width: "100%" %>
            <div class="hover-overlay"></div>
            <div class="hover-3-content px-5 py-4">
              <h3 class="hover-3-title text-uppercase font-weight-bold mb-1"><span class="font-weight-light"><%= dream.name %></span></h3>
              <p class="hover-3-description small text-uppercase mb-0"><%= link_to dream.description, dream_path(dream) %></p>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>
